
<html>
	<head>
		<style>
			input[type=button], input[type=submit], input[type=reset] {
				background-color: #1DB954; color: white; padding-left: 10px; padding: 16px 32px;
				text-decoration: none; margin: 4px 2px;
				cursor: pointer; position: relative;
				border:2px solid white;
		}
		h1{
			margin-top:140px;
			color:white;
		}
		form{
			padding-top:30px;
		}
		body{
			background-color:black;
			background-image: url("https://i.pinimg.com/originals/99/cd/6e/99cd6ec446b8f68319cfbd75091d21eb.gif");
		}
		</style>
	</head>

<body>

<div class="block1">
<center><h1>Welcome to MoodTracks!</h1></center>

</div>

<form>
<center>	<input type="button" value="Play Your 'MoodTrack'!" onclick="window.location.href='{{playlist}}'"/></center>
</form>
</body>
</html>

